.select-box {
  display: flex;

  margin-bottom: 10px;
}

.select-box label {
  font-size: 1.2rem;
  margin-right: 20px;
  font-weight: bold;
}

.select-box select {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}
