.App {
  top: 30px;
  padding: 4rem 2rem 0rem 2rem;
  overflow: hidden;
}

button {
  color: white;
  background-color: dodgerblue;
  border: none;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
